<header class="header d-flex p-3">
    <h1 class="header__title fs-4">Angular Blog</h1>
    <div class="header__sign d-flex">
        <ng-container *ngIf="isAuthorized">
            <button type="button" class="btn signIn-btn" data-bs-toggle="modal" data-bs-target="#add-post">Add post</button>
            <p class="user">{{currentUser.username}}</p>
            <button type="button" class="btn signOut-btn" (click)="signOut()">Sign Out</button>
        </ng-container>
        <ng-container *ngIf="!isAuthorized">
            <button type="button" class="btn signIn-btn" data-bs-toggle="modal" data-bs-target="#sign-In">Sign In</button>
            <button type="button" class="btn signUp-btn" data-bs-toggle="modal" data-bs-target="#sign-Up">Sign Up</button>
        </ng-container>
    </div>
</header>
<main class="main">
    <div class="container pt-2">
        <div *ngFor="let post of posts" class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{post.topic}}</h5>
                <div class="card-info d-flex">
                    <p class="card-info-posted mb-2">Posted by: {{post.postedBy}}</p>
                    <p class="card-text"><small class="text-muted">&#8986;{{post.date | date:"HH:mm, dd.MM.YYYY"}}</small></p>
                </div>
                <p class="card-text">{{post.message}}</p>
                <div *ngIf="isAuthorized && currentUser.username === 'admin' || isAuthorized && post.postedBy === currentUser.username" class="manage">
                    <button type="button" class="btn btn-warning postEdit" (click)="editPost(post)" data-bs-toggle="modal" data-bs-target="#add-post">Edit</button>
                    <button type="button" class="btn btn-danger postDelete" (click)="deletePost(post)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="sign-In">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign In</h5>
                <button type="button" class="btn-close" (click)="closeModalSignIn()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="signIn-email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="signIn-email" [(ngModel)]="signInEmail">
                </div>
                <div class="mb-3">
                    <label for="signIn-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="signIn-password" [(ngModel)]="signInPass">
                </div>
                <small class="err-massage">{{errorMassage}}</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModalSignIn()">Close</button>
                <button type="submit" class="btn btn-success" (click)="checkUser()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sign-Up">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sign up</h5>
                <button type="button" class="btn-close" (click)="closeModalSignUp()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="signUp-username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="signUp-username" [(ngModel)]="signUpUsername">
                </div>
                <div class="mb-3">
                    <label for="signUp-email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="signUp-email" [(ngModel)]="signUpEmail">
                </div>
                <div class="mb-3">
                    <label for="signUp-password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="signUp-password" [(ngModel)]="signUpPass">
                </div>
                <small class="err-massage">{{errorMassage}}</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModalSignUp()">Close</button>
                <button type="submit" class="btn btn-success" (click)="addUser()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-post">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add post</h5>
                <button type="button" class="btn-close" (click)="closeModalAddPost()"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="addPost-title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="addPost-title" [(ngModel)]="postTitle">
                </div>
                <div class="mb-3">
                    <label for="addPost-text" class="form-label">Text:</label>
                    <textarea class="form-control" id="addPost-text" [(ngModel)]="postText"></textarea>
                </div>
                <small class="err-massage">{{errorMassage}}</small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModalAddPost()">Close</button>
                <button *ngIf="!editStatus" type="submit" class="btn btn-success" (click)="addPost()">Post</button>
                <button *ngIf="editStatus" type="submit" class="btn btn-success" (click)="saveEditPost()">Edit Post</button>
            </div>
        </div>
    </div>
</div>